@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	}
body{
	font-size:12px;
	}
.inputtxt{
	border:solid 1px #ccc;
	padding:3px;
	line-height:18px;
	font-size:12px;
	width:16px;
	}
fieldset{
	padding:10px;
	width:285px;
	float:left;
	}

ul{
	list-style-type:none; <!--列表没有格式-->
	padding:0px;
	margin:10px 0px 0px 0px;
	width:290px;
	}
ul li{
	list-style-type:none;
	border-bottom:dashed #ccc 1px;
	padding-top:5px;
	padding-bottom:5px;
	clear:both;
	float:left;
	}
ul li span{
	float:left;
	width:92px;
	padding-left:3px;
	}

ul li span img{
	padding:2px;
	margin-right:5px;
	border:solid 1px #ccc;
	}
.li{
	font-weight:bold;
	background-color:#eee;
	}

#pStatus{
	display:none;
	border:1px #ccc solid;
	width:90px;
	background-color:#eee;
	padding:6px 12px 6px 12px;
	}

#ulUpload{
	list-style-type:none;
	padding:0px;
	margin:10px 0px 0px0px;
	width:290px;
	height:125px;
	}
#ulUpload span{
	padding-top:5px;
	padding-bottom:5px;
	}	
#ulUpload span img{
	padding:2px;
	margin-right:5px;
	border:solid 1px #ccc;
	}	
